
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*fondo de imagen lechuga en todas las paginas*/

body{
    background: url('../imagenes/fondolechuga.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  
}
img{
  border-radius: 2%;
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;

}
/*logo principal centrado en cada pagina*/

.logoFrey img{
  width: 300px;
  display: flex;

}


/* "Tu huerta Saludable" en todas las paginas */

.tituloHuerta{
  position:relative;
  font-family: Brush Script MT;
  font-style: normal;
  font-weight: lighter;
  font-size: 2.5rem;
  line-height: 35px;
  text-align: center;
  color: #fff;
}
 
/*Menu navegacion*/

.estiloMenuNavegacion li a :hover{
  background-color: #91A38F;
  color: #D5F5E3;
  padding: 20px;
  
}

.estiloMenuNavegacion{
  position: relative;
  list-style:none;
  display:flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin-top: 2%;

}

li {
  text-decoration: none;
  display: inline;
  display: flex;

}

li a{
  text-decoration: none;
  background-color: #91A38F;
  padding: 15px;
  color: #fff;
  font-family: Arial;
  border-radius: 25px;
  opacity: 0.75;
}

/*efecto de botones de navegacion*/
li a:hover{
  transform: scale(1,1.1);
  background-color: #788676;
  opacity: 1;
}

.tituloHuertaPages{
  position: relative;
  font-family: Brush Script MT;
  font-style: normal;
  font-weight:bold;
  font-size: 2.5rem;
  line-height: 35px;
  text-align: center;
  color: #fff;
}

hr {
  height: 55px;
  background-color: #BBBBBB;
  border: none;
  margin-top: -150px;
  width: 100%;
}

/*Home*/

.textoCultivos{
  width: 60%;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #D5F5E3;
  margin-left: 20%;
  padding: 20px;
  border-radius: 10px;
  opacity: 0.7;
}

/*footer para todas las paginas*/

.footer{
  width: 100%;
  margin-top: 110px;
  text-align: center;
  font-family:sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: bolder;
  padding: 20px;
}

/*gradiente para fondo de Footer*/

#grad {
  background-image: linear-gradient(to top, rgb(18, 70, 44) , rgb(89, 124, 112));
  background-size: 20%;
  height: 20px;
 }
 

/* Esto es el estilo para la pagina "nosotros"*/

.grillaNosotros{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 200px 300px;
  grid-template-areas: "nosotros nosotros nosotros"
                       "fotoJuan fotoFer fotoMaty";
  row-gap: 10px;
  align-items: center;
  justify-items: center;
  background-color: cadetblue;
       
}

 /*aca quiero ponerle transformacion de escala a las fotos de cada socio y no me sale*/

 /*
 #fotoMaty{
  position: relative;
  list-style:none;
  display:flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin-top: 2%;

}
*/

img #fotoMaty a:hover{
  
  background-color:#788676;
  opacity: 1;
}

#fotoJuan {
  grid-area: fotoJuan;
  width: 95%;

}  

#fotoFer {
  grid-area: fotoFer;
  width: 95%;
}  

#fotoMaty {
  grid-area: fotoMaty;
  width: 95%;
  align-items: center;
}  

  
#nosotros{
  grid-area: nosotros;
  padding: 20px;
  height: 70%;
  width: 90%;
  margin-left: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-align: center;
  background-color: #D5F5E3;
  border-radius: 20px;
  opacity: 0.5;
}


/*Formato para formulario en pagina "contacto"*/

.formulario{
  width: 65%;
  display: flex;
  margin-top: 2%;
  margin-left: 20%;
  background-color: #D5F5E3;
  border-radius: 20px;
  opacity: 0.7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:left;
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}